
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    background-color: #f8f8f8;
    color: #000000;
    padding-bottom: 40px;
}

main {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(19, 108, 224);
    border: 1px solid #ddd;
    border-radius: 8px;
}
.logo {
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo-pro {
    color: #00C6FF;
}
header {
    background-color: #3c6ed1;
    color: white;
    padding: 15px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    text-align: center;
    padding-top: 10px;
}

nav ul a {
    display: inline-block;
    padding: 8px 15px;
    color: #333;
    text-decoration: none;
    background-color: #ccc;
    margin: 0 5px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}
#imagen {
    border-radius: 15px;
    border: 2px solid black;
    margin: 15px;
    
}
#articulo {
    background-color: #ddd; 
    border-radius: 10px;
    margin: 5px;
    padding: 25px;


}
#subtitulo {
    background-color: #ddd;
    border-radius: 8px ;
    margin: 5px;
    padding: 15px;
    text-align: center;
}
#subtitulo2 {
    text-align: center;
    margin: 20px;
}
#enlace {
    text-align: center;
    background-color: rgb(189, 215, 237);
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    
    
}
#caracteristicas {
    background-color: rgb(189, 215, 237);
    border-radius: 15px;
    margin: 8px;
    padding: 25px;
    
}
a {
    text-decoration: none;
}